.header {
	padding: 20px 0px 20px 0px;
	position: sticky;
   top: 0;
   left: 0;
   z-index: 7;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	color: $colorText;
	background: $headerBg;
}

.header__inner {
	display: flex;;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header__title {
	font-weight: 700;
	text-transform: uppercase;
}

.logo {
	width: 50px;
	height: 50px;
}

.menu {
	@media (max-width: 768px) {
	&__icon {
		display: block;
		width: 30px;
		height: 18px;
		position: relative;
		z-index: 5;
		cursor: pointer;
		span {
			position: absolute;
			top: calc(50% - 1px);
			left: 0%;
			width: 100%;
			height: 3px;
			background-color: $burgerIcon;
			transition: all .2s;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&:active {
				span {
					transform: scale(0);
				
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px)
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px)
				}
			}
		}
	}
}
	&__body {
		@media (max-width: 768px) {
			position: absolute;
			overflow: auto;
			top: 0;
			left: -100%;
			height: 100vh;
			width: 100%;
			background-color: $menuMobile;
			display: flex;
			transition: all .3s;
		}
		&.active {
			left: 0;
		}
	}
	&__list {
		display: flex;
		gap: 30px;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
			gap: 0;
			padding: 30px;
			margin: auto;
		}
	}

	&__link {
		color: $colorText;
		font-weight: 700;
			&:hover {
			color: $linkHover;
		}
		@media (max-width: 768px) {
			display: block;
			font-size: 30px;
			line-height: 70px;
			color: $menuMobileLink;
		}
	}
}

section {
	padding-bottom: 30px;
}

.about {
	padding-top: 30px;
}

.about__content {
	margin: 0 auto;
	max-width: 800px;
	border: 1px solid $colorText;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 3px 10px #333;
	@media (min-width: 320px) {
		max-width: 300px;
		padding: 10px;
	}
}

.about__info {
	padding-top: 20px;
	@media (min-width: 320px) {
		font-size: 14px;
	}
}

.skills__slider {
	padding-top: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.slider__content {
	max-width: 800px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 80px;
	align-items: center;
	@media(max-width: 768px) {
		gap: 40px;
	}
	@media(min-width: 320px) {
		max-width: 400px;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.slider__item {
	cursor: pointer;
	background-color: $cardsBg;
   border-radius: 11px;
   box-shadow: 0 3px 10px #333;
   margin: 10px;
}

.icon__card {
	width: 100%;
	height: 100%;
	@media (min-width: 320px) {
		width: 70px;
		height: 70px;
	}
}

.projects__container {
	padding-top: 20px;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	@media (min-width: 320px) {
		flex-direction: column;
		align-items: center;
	}
}

.project__card {
	cursor: pointer;
	background-color: $cardsBg;
   border-radius: 11px;
	box-shadow: 0 3px 10px #333;
   padding: 20px;
   margin: 10px;
	text-align: center;
	max-width: 33%;
	@media (min-width: 320px) {
		padding: 10px;
	}
}

.project__title {
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 10px;
	@media (min-width: 320px) {
		font-size: 16px;
	}
}

hr.divider {
	border: none;
	height: 1px;
	background-color: $divider;
	margin: 10px 0; 
}

.project__link {
	color: $colorText;
	font-size: 18px;
	font-weight: 700;
	&:hover {
		color: $linkHover;
	}
	@media (min-width: 320px) {
		font-size: 14px;
	}
}

.project__description {
	padding-bottom: 10px;
	@media (min-width: 320px) {
		font-size: 14px;
	}
}

.contacts__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-top: 20px;
}

.icon__container {
	background-color: $bodyBg;
}




