.header {
	padding: 20px 0px 20px 0px;
	position: sticky;
   top: 0;
   left: 0;
   z-index: 7;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	color: $colorText;
	background: $headerBg;
}

.header__inner {
	display: flex;;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header__title {
	font-weight: 700;
	text-transform: uppercase;
}

.logo {
	width: 50px;
	height: 50px;
}

.menu__list {
	display: flex;
	gap: 30px;
	align-items: center;
}

.menu__link {
	color: $colorText;
	font-weight: 700;
	&:hover {
		color: $colorTextActive;
	}
}

.section {
	padding-bottom: 30px;
}

.about {
	padding-top: 30px;
}

.about__content {
	margin: 0 auto;
	max-width: 800px;
	border: 1px solid $colorText;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 3px 10px #333;
}

.about__info {
	padding-top: 20px;
}

.skills__slider {
	padding-top: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.slider__content {
	max-width: 800px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 80px;
	align-items: center;
}

.slider__item {
	cursor: pointer;
	background-color: $cardsBg;
   border-radius: 11px;
   box-shadow: 0 3px 10px #333;
   margin: 10px;
}

.projects__container {
	padding-top: 20px;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
}

.project__card {
	cursor: pointer;
	background-color: $cardsBg;
   border-radius: 11px;
	box-shadow: 0 3px 10px #333;
   padding: 20px;
   margin: 10px;
	text-align: center;
	max-width: 33%;
}

.project__title {
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 10px;
}

hr.divider {
	border: none;
	height: 1px;
	background-color: $divider;
	margin: 10px 0; 
}

.project__link {
	color: $colorText;
	font-size: 16px;
	font-weight: 700;
}

.project__description {
	padding-bottom: 10px;
}

.contacts__container {
	display: flex;
	justify-content: center;
	gap: 40px;
	padding-top: 20px;
}

.container__item {
	background-color: $bodyBg;
}


